/**********************************************RABBIAS CSS**********************************************************/


h2 {
    font-size: 3rem;
    font-family: span, serif;
}

p {
    font-size: 1rem;
    font-family: sofia pro, sans-serif;
    font-weight: 200;

}

body {
    background-color: #F1EFEA;
    margin: 0;
}



/*Navigationslinje*/

#burgermenu {
    display: none;
}

.burgermenu_link {
    display: none;
}

#burger_bck {
    display: none;
}


.alm_menu {
    margin-top: 1.5rem;
    /*display: inline-block;*/
    float: right;
}


.overlay_logo {
    position: relative;
    z-index: 1;
    background-image: url(img/logo.png);
    background-size: cover;
    opacity: 0.8;
    width: 100px;
    height: 100px;
    display: inline-block;
}


.p_header {
    /*position: relative;
    height: auto;*/
    width: 100%;
}

/*#overordnet-nav {
    margin-top: 1.5rem;
    display: inline-block;
    float: right;
}*/

.p_header #overordnet-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: span, serif;
    font-size: 1.5rem;
    padding-right: 20px;

}

#overordnet-nav a:hover {
    transform: translateY(-15%);
}





footer {
    padding: 1.5rem;
    text-align: center;
    color: white;
    margin-top: 1rem;
    background-color: rgba(34, 34, 46, 0.40);
}

.footer_tekst {
    font-size: 0.8rem;
    margin: 0;
    margin-top: 1rem;
}

footer h4 {
    font-family: span, serif;
    font-weight: 100;
    letter-spacing: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.line {
    width: 12rem;
    height: 0.01rem;
    background-color: white;
    margin: auto;
    margin-bottom: 1rem;
}

/* Socialmedie ikoner */
.col_2 img {
    width: 3rem;
}

.col_2 img:hover {
    cursor: pointer;

}

@media (min-width: 1000px) {


    footer h4 {
        margin-top: 0;
    }

    #footer_flex {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .col_2 img {
        width: 4rem;
        padding-top: 2rem;
    }
}


@media only screen and (max-width: 700px) {

    /*Navigation mobil*/
    .alm_menu {
        display: none;
    }

    #burgermenu {
        width: 3rem;
        height: 3rem;
        margin-top: 2.5rem;
        margin-left: 1rem;
        cursor: pointer;
        z-index: 5;
        display: block;
    }

    .bar {
        height: 0.3rem;
        width: 100%;
        background-color: #000;
        display: block;
        border-radius: 0.3rem;
        transition: 0.4s ease;
        display: block;
    }

    .burgermenu_container {
        position: fixed;
        display: block;
    }

    /*-----------------------ANIMATION AF BURGERMENU-----------------*/

    #bar1 {
        transform: translateY(-1rem);
    }

    #bar3 {
        transform: translateY(1rem);
    }

    #burger_bck {
        position: fixed;
        display: block;
    }

    .change .bar {
        background-color: black;
    }

    .change #bar1 {
        transform: translateY(0.4rem) rotateZ(-45deg);
        background-color: black;
    }

    .change #bar3 {
        transform: translateY(0rem) rotateZ(45deg);
        background-color: black;
    }

    .change #bar2 {
        display: none;
    }

    /*------JS-CLASSES, ANIMATION, BURGERMENU-------*/

    .change .bar {
        background-color: #F3EEE7;
    }

    .change #bar1 {
        transform: translateY(0.4rem) rotateZ(-45deg);
        background-color: #F3EEE7;
    }

    .change #bar3 {
        transform: translateY(0.1rem) rotateZ(45deg);
        background-color: #F3EEE7;
    }

    .change #bar2 {
        display: none;
    }

    /*-----------BURGERMENU DISPLAY-----------*/

    .burgermenu_link {
        display: none;
        position: fixed;
        z-index: 2;
        margin: auto;
        margin-top: 9rem;
        max-width: 100vw;
    }

    .burgermenu_link a {
        color: #F3EEE7;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        font-family: sofia pro, sans-serif;
        font-size: 1.5rem;
    }

    .burgermenu_link a:hover {
        color: white;
    }

    .burger_link {
        display: block;
        padding: 2rem;
    }

    /*-----------BURGERMENU DESIGN-----------*/

    .burger_bck,
    #burgermenu {
        top: 0;
        position: absolute;
    }

    .burger_bck {
        z-index: 1;
        width: 0;
        height: 0;
        background-color: #22222E;
        opacity: 0.9;
        transition: 0.3s ease;
    }

    .change_img {
        width: 30%;
        height: 100%;
    }

    .change {
        display: block;
    }

    .change1 {
        animation-name: ease_nav_kf;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes ease_nav_kf {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }



}

@media only screen and (max-width: 700px) {

    .p_header #overordnet-nav a {
        color: #fff;


    }

    .overlay_logo {
        position: relative;
        z-index: 1;
        background-image: url(img/logo.png);
        background-size: cover;
        opacity: 0.8;
        width: 100px;
        height: 100px;
        display: inherit;
        margin: auto
    }

}

@media only screen and (max-width: 500px) {
    .change_img {
        width: 100%;
    }
}
