/*Navigationslinje*/

#burgermenu {
    display: none;
}

.burgermenu_link {
    display: none;
}

#burger_bck {
    display: none;
}


.alm_menu {
    margin-top: 1.5rem;
    /*display: inline-block;*/
    float: right;
}


.overlay_logo {
    position: relative;
    z-index: 1;
    background-image: url(img/logo.png);
    background-size: cover;
    opacity: 0.8;
    width: 100px;
    height: 100px;
    display: inline-block;
}


.p_header {
    /*position: relative;
    height: auto;*/
    width: 100%;
}

/*#overordnet-nav {
    margin-top: 1.5rem;
    display: inline-block;
    float: right;
}*/

.p_header #overordnet-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sofia pro, sans-serif;
    font-size: 1.5rem;
    padding-right: 20px;

}

#overordnet-nav a:hover {
    transform: translateY(-15%);
}

button {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sofia pro, sans-serif;
    font-size: 1.1rem;
    padding-right: 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;

}

section {
    background: rgba(249, 247, 242, 0.79);
}


img {
    width: 50%;
}


#liste {
    display: grid;
    max-width: 950px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2em;
    margin: auto;
    /*margin-top: 10px;*/
}

.wines {
    padding: 2em;
    margin: 0em;
    text-align: center;
    background-image: url(img/cirkel.svg);
    background-size: 360px 360px;
    background-repeat: no-repeat;
    background-position: 50% 100%;


}

.wines-pic {}

#first_background {}

.pic {
    background-image: url(img/splash_2.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.intro-tekst {
    max-width: 480px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ikon_italien {
    width: 10%;
    background-image: url(img/italy_flag.png);
}

.ikon_frankrig {
    width: 10%;
}

.ikon_spanien {
    width: 10%;
}

.ikon_argentina {
    width: 10%;
}


.beskrivelse {
    max-width: 200px;
    margin: auto;
}

#filtrering-nav {

    text-align: center;
    max-width: 950px;
    margin: auto;
    background-color: rgba(249, 247, 242, 0.79);
    padding-top: 70px;


}

.fake_button {
    background-color: #4C0D0C;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    font-family: sofia pro, sans-serif;
    cursor: pointer;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

@media only screen and (max-width: 1050px) {
    #filtrering-nav {

        text-align: center;
        max-width: 750px;
        margin: auto;
        background-color: rgba(249, 247, 242, 0.79);
        padding-top: 70px;


    }

    #liste {
        display: grid;
        max-width: 750px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2em;
        margin: auto;
        /*margin-top: 10px;*/
    }

    .wines {
        padding: 2em;
        margin: 0em;
        text-align: center;
        background-image: url(img/cirkel.svg);
        background-size: 330px 330px;
        background-repeat: no-repeat;
        background-position: 50% 100%;

    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    img {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    #filtrering-nav {

        text-align: center;
        max-width: 540px;
        margin: auto;
        background-color: rgba(249, 247, 242, 0.79);
        padding-top: 70px;


    }

    #liste {
        display: grid;
        max-width: 540px;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        grid-gap: 2em;
        margin: auto;
        /*margin-top: 10px;*/
    }

    img {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {

    /*Navigation mobil*/
    .alm_menu {
        display: none;
    }

    #burgermenu {
        width: 3rem;
        height: 3rem;
        margin-top: 2.5rem;
        margin-left: 1rem;
        cursor: pointer;
        z-index: 5;
        display: block;
    }

    .bar {
        height: 0.3rem;
        width: 100%;
        background-color: #000;
        display: block;
        border-radius: 0.3rem;
        transition: 0.4s ease;
        display: block;
    }

    .burgermenu_container {
        position: fixed;
        display: block;
    }

    /*-----------------------ANIMATION AF BURGERMENU-----------------*/

    #bar1 {
        transform: translateY(-1rem);
    }

    #bar3 {
        transform: translateY(1rem);
    }

    #burger_bck {
        position: fixed;
        display: block;
    }

    .change .bar {
        background-color: black;
    }

    .change #bar1 {
        transform: translateY(0.4rem) rotateZ(-45deg);
        background-color: black;
    }

    .change #bar3 {
        transform: translateY(0rem) rotateZ(45deg);
        background-color: black;
    }

    .change #bar2 {
        display: none;
    }

    /*------JS-CLASSES, ANIMATION, BURGERMENU-------*/

    .change .bar {
        background-color: #F3EEE7;
    }

    .change #bar1 {
        transform: translateY(0.4rem) rotateZ(-45deg);
        background-color: #F3EEE7;
    }

    .change #bar3 {
        transform: translateY(0.1rem) rotateZ(45deg);
        background-color: #F3EEE7;
    }

    .change #bar2 {
        display: none;
    }

    /*-----------BURGERMENU DISPLAY-----------*/

    .burgermenu_link {
        display: none;
        position: fixed;
        z-index: 2;
        margin: auto;
        margin-top: 9rem;
        max-width: 100vw;
    }

    .burgermenu_link a {
        color: #F3EEE7;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        font-family: sofia pro, sans-serif;
        font-size: 1.5rem;
    }

    .burgermenu_link a:hover {
        color: white;
    }

    .burger_link {
        display: block;
        padding: 2rem;
    }

    /*-----------BURGERMENU DESIGN-----------*/

    .burger_bck,
    #burgermenu {
        top: 0;
        position: absolute;
    }

    .burger_bck {
        z-index: 1;
        width: 0;
        height: 0;
        background-color: #22222E;
        opacity: 0.9;
        transition: 0.3s ease;
    }

    .change_img {
        width: 30%;
        height: 100%;
    }

    .change {
        display: block;
    }

    .change1 {
        animation-name: ease_nav_kf;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes ease_nav_kf {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }



}

@media only screen and (max-width: 700px) {

    .p_header #overordnet-nav a {
        color: #fff;


    }

    .overlay_logo {
        position: relative;
        z-index: 1;
        background-image: url(img/logo.png);
        background-size: cover;
        opacity: 0.8;
        width: 100px;
        height: 100px;
        display: inherit;
        margin: auto
    }

}

@media only screen and (max-width: 500px) {
    .change_img {
        width: 100%;
    }
}
