/*Navigationslinje*/





button {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sofia pro, sans-serif;
    font-size: 1.1rem;
    padding-right: 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;

}

section {
    background: rgba(249, 247, 242, 0.79);
}


img {
    width: 50%;
}


#liste {
    display: grid;
    max-width: 950px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2em;
    margin: auto;
    /*margin-top: 10px;*/
}

.wines {
    padding: 2em;
    margin: 0em;
    text-align: center;
    background-image: url(img/cirkel_2.png);
    background-size: 360px 360px;
    background-repeat: no-repeat;
    background-position: 50% 100%;


}

.wines-pic {}

#first_background {}

.pic {
    background-image: url(img/splash_2.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.intro-tekst {
    max-width: 480px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ikon_italien {
    width: 10%;
    background-image: url(img/italy_flag.png);
}

.ikon_frankrig {
    width: 10%;
}

.ikon_spanien {
    width: 10%;
}

.ikon_argentina {
    width: 10%;
}


.beskrivelse {
    max-width: 200px;
    margin: auto;
}

#filtrering-nav {

    text-align: center;
    max-width: 950px;
    margin: auto;
    background-color: rgba(249, 247, 242, 0.79);
    padding-top: 70px;


}

.fake_button {
    background-color: #4C0D0C;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    font-family: sofia pro, sans-serif;
    cursor: pointer;
}

h3 {
    font-size: 2rem;
    margin: 0;
}


