/*Navigationslinje*/





button {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sofia pro, sans-serif;
    font-size: 1.1rem;
    padding-right: 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;

}

section {
    background: rgba(249, 247, 242, 0.79);
}


img {
    width: 40%;
}


#liste {
    display: grid;
    max-width: 850px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2em;
    margin: auto;
    /*margin-top: 10px;*/
}

.wines {
    padding: 1em;
    margin: 1em;
    text-align: center;
    align-items: center;
}

#first_background {

}

.pic {
    background-image: url(img/splash_2.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.intro-tekst {
    max-width: 480px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
