/*Navigationslinje*/



body {
    background-color: #F1EFEA;
}


.overlay_logo {
    position: relative;
    z-index: 1;
    background-image: url(img/logo.png);
    background-size: cover;
    opacity: 0.8;
    width: 100px;
    height: 100px;
    display: inline-block;
}


.lp_header {
    /*position: relative;
    height: auto;*/
    width: 100%;
}

#overordnet-nav {
    margin-top: 1.5rem;
    display: inline-block;
    float: right;
}

.lp_header #overordnet-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sofia pro, sans-serif;
    font-size: 1.5rem;
    padding-right: 20px;

}

#overordnet-nav a:hover {
    transform: translateY(-15%);
}

#filtrering-nav {

    text-align: center;
}

button {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sofia pro, sans-serif;
    font-size: 1.1rem;
    padding-right: 20px;
    border: none;

}

section {
    background: rgba(249, 247, 242, 0.79);

}

img {
    width: 40%;
}

#liste {
    display: grid;
    max-width: 850px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2em;
    margin: auto;
}

.wines {
    padding: 1em;
    margin: 1em;
    text-align: center;
    align-items: center;
}
