.lp_header {
    position: absolute;
    height: auto;
    width: 100%;
}

#overordnet-nav {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.lp_header #overordnet-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #F3EEE7;
    font-family: sofia pro, sans-serif;
    font-size: 1.5rem;
}

#overordnet-nav a:hover {
    transform: translateY(-15%);
}
